<h1>Bring your sausage</h1>
<p>Just try something</p>
<%= link_to 'Barbecues', barbecues_path %>
<%= link_to 'Ingredients', ingredients_path %>
<%= link_to 'Barbecues Ingredients', barbecue_ingredients_path %>
