<p>Bring your sausage helps you to organize barbecues ! </p>
<p>Create an accout, then <%= link_to 'create your barbecue', new_barbecue_path %>. After that, you will be able to <%= link_to 'add ingredients', new_barbecue_ingredient_path %> to your barbecue </p>
<p>Or visit an existing barbecue</p>
