<h1>Organise a super-cool barbecue !</h1>
<p>Or a crepe-party, or just an apero. Whatever, really !</p>
<p>Bring your sausage helps you to organize barbecues by telling your friends what they need to bring</p>
<ol>
  <li>Create an event</li>
  <li>Add the ingredients you already have, add ingredients your friends should grab</li>
  <li>Invite them and do the do !</li>
</ol>
<%= link_to 'Create a new event', new_barbecue_path, class: "btn btn-lg btn-primary" %>
or
<%= link_to 'Find an existing event', barbecues_path, class: "btn " %>
