<div>
  <h3>We already have</h3>
  <% if @barbecue.supply.count() > 0 %>
    <ul id="we-have">
      <% @barbecue.supply.map(&:ingredient).uniq.each do |ingredient| %>
        <li>
          <% if @contributions.include?(ingredient.id) %>
            <%= pluralize(@contributions[ingredient.id], ingredient.title) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    Nothing yet
  <% end %>
  <%= render "supplies/onelineform", supply: Supply.new() %>
</div>
