<h3>What we need</h3>
<% if @barbecue.barbecue_ingredient.count() > 0 %>
  <ul id="weeneed">
    <% @barbecue.barbecue_ingredient.each() do |barbecue_ingredient| %>
      <li><%= render "barbecue_ingredients/onelineshow", barbecue_ingredient: barbecue_ingredient, supply: Supply.new() %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nothing yet</p>
<% end %>
<%= render "barbecue_ingredients/onelineform", barbecue_ingredient: BarbecueIngredient.new() %>
