<div class="btn-group-vertical">
  <%= link_to "Log before saving",  new_user_session_path, class: "btn btn-success btn-lg" %>
  <%= link_to "Log with Facebook",  user_omniauth_authorize_path("facebook"), class: "btn btn-primary btn-xs facebook-connect" %>
</div>
