/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 */

/* $brand-primary: #124343; */
/* $brand-secondary: #124343; */
/* $link-color: $brand-secondary; */
$facebook-color: #454DA8;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    li {
        a {
            color: black;
        }
    }
    .active {
        background-color: white;
        color:$brand-primary;
    }
    .logo  {
        max-height: 60px;
    }
}

td, th {
    padding-left:2ex;
    padding-right:2ex;
}

h4 {
    display: inline;
}

.qr-code {
    table {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
    }
    td {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        width: 2px;
        height: 2px;
    }
    td.black { background-color: #000; }
    td.white { background-color: #fff; }
}


/* Typeahead styling */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    @extend .dropdown-menu;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: $dropdown-link-active-color;
    background-color: $dropdown-link-active-bg;
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion.tt-cursor {
    color: $dropdown-link-active-color;
    background-color: $dropdown-link-active-bg;
}

.tt-suggestion p {
    margin: 0;
}

.twitter-typeahead {
    width: 100%;
}

.facebook-connect{
    background-color: $facebook-color;
}

input:focus:invalid{
    border-color:red;
}
