<div class="form-inline">
  <%= barbecue_ingredient.number_field :quantity, hide_label: :true, placeholder: "Quantity" %>
  <%= barbecue_ingredient.fields_for(:ingredient) do |builder| %>
    <%= builder.text_field "title", hide_label: :true, placeholder: "Ingredient", class: "typeahead" %>
  <% end %>
  <%= barbecue_ingredient.check_box :_destroy %>

</div>
