<div class="form-inline">
  <%= barbecue_ingredient.number_field :quantity, hide_label: :true, placeholder: "quantity" %>
  <%= barbecue_ingredient.fields_for :ingredient, barbecue_ingredient.object.ingredient do |ingredient| %>
    <%= ingredient.text_field :title, hide_label: :true, placeholder: "Ingredient", class: "typeahead" %>
  <% end %>
</div>
